In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
#import missingno
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [ ]:
#testing again maybe it'll work this time, may the universe be aligned.

In [7]:
df_0 = pd.read_csv('../../data/processed/final_pit_hic_merged - final_pit_hic_merged.csv')
print(df_0.info())
df_0.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5431 entries, 0 to 5430
Columns: 111 entries, Year to Sheltered Total Homeless Individuals - Multiple Races
dtypes: float64(103), int64(7), object(1)
memory usage: 4.6+ MB
None

,Year,CoC Number,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,Overall Homeless - Gender Non-Conforming,...,Sheltered Total Homeless Individuals - Transgender,Sheltered Total Homeless Individuals - Gender Non-Conforming,Sheltered Total Homeless Individuals - Non-Hispanic/Non-Latino,Sheltered Total Homeless Individuals - Hispanic/Latino,Sheltered Total Homeless Individuals - White,Sheltered Total Homeless Individuals - Black or African American,Sheltered Total Homeless Individuals - Asian,Sheltered Total Homeless Individuals - American Indian or Alaska Native,Sheltered Total Homeless Individuals - Native Hawaiian or Other Pacific Islander,Sheltered Total Homeless Individuals - Multiple Races
0,2020,AK-500,1058,150.0,129.0,779.0,419.0,636.0,2.0,1.0,...,2.0,1.0,729.0,32.0,249.0,69.0,7.0,324.0,19.0,93.0
1,2020,AK-501,891,176.0,68.0,647.0,409.0,478.0,1.0,3.0,...,1.0,3.0,434.0,29.0,187.0,17.0,8.0,204.0,1.0,46.0
2,2020,AL-500,848,92.0,54.0,702.0,296.0,551.0,1.0,0.0,...,0.0,0.0,456.0,8.0,193.0,254.0,1.0,2.0,2.0,12.0
3,2020,AL-501,631,107.0,24.0,500.0,244.0,385.0,2.0,0.0,...,0.0,0.0,138.0,0.0,52.0,82.0,0.0,1.0,0.0,3.0
4,2020,AL-502,215,61.0,11.0,143.0,91.0,67.0,1.0,0.0,...,0.0,0.0,56.0,2.0,41.0,15.0,0.0,1.0,1.0,0.0

In [ ]:
list(df_0.columns)

['Year',
 'CoC Number',
 'Overall Homeless',
 'Overall Homeless - Under 18',
 'Overall Homeless - Age 18 to 24',
 'Overall Homeless - Over 24',
 'Overall Homeless - Female',
 'Overall Homeless - Male',
 'Overall Homeless - Transgender',
 'Overall Homeless - Gender Non-Conforming',
 'Overall Homeless - Non-Hispanic/Non-Latino',
 'Overall Homeless - Hispanic/Latino',
 'Overall Homeless - White',
 'Overall Homeless - Black or African American',
 'Overall Homeless - Asian',
 'Overall Homeless - American Indian or Alaska Native',
 'Overall Homeless - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless - Multiple Races',
 'Unsheltered Homeless',
 'Unsheltered Homeless - Under 18',
 'Unsheltered Homeless - Age 18 to 24',
 'Unsheltered Homeless - Over 24',
 'Unsheltered Homeless - Female',
 'Unsheltered Homeless - Male',
 'Unsheltered Homeless - Transgender',
 'Unsheltered Homeless - Gender Non-Conforming',
 'Unsheltered Homeless - Non-Hispanic/Non-Latino',
 'Unsheltered Homeless - Hispanic/Latino',
 'Unsheltered Homeless - White',
 'Unsheltered Homeless - Black or African American',
 'Unsheltered Homeless - Asian',
 'Unsheltered Homeless - American Indian or Alaska Native',
 'Unsheltered Homeless - Native Hawaiian or Other Pacific Islander',
 'Unsheltered Homeless - Multiple Races',
 'Sheltered Total Homeless',
 'Sheltered Total Homeless - Under 18',
 'Sheltered Total Homeless - Age 18 to 24',
 'Sheltered Total Homeless - Over 24',
 'Sheltered Total Homeless - Female',
 'Sheltered Total Homeless - Male',
 'Sheltered Total Homeless - Transgender',
 'Sheltered Total Homeless - Gender Non-Conforming',
 'Sheltered Total Homeless - Non-Hispanic/Non-Latino',
 'Sheltered Total Homeless - Hispanic/Latino',
 'Sheltered Total Homeless - White',
 'Sheltered Total Homeless - Black or African American',
 'Sheltered Total Homeless - Asian',
 'Sheltered Total Homeless - American Indian or Alaska Native',
 'Sheltered Total Homeless - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless Veterans',
 'Overall Homeless Veterans - Female',
 'Overall Homeless Veterans - Male',
 'Overall Homeless Veterans - Transgender',
 'Overall Homeless Veterans - Gender Non-Conforming',
 'Overall Homeless Veterans - Non-Hispanic/Non-Latino',
 'Overall Homeless Veterans - Hispanic/Latino',
 'Overall Homeless Veterans - White',
 'Overall Homeless Veterans - Black or African American',
 'Overall Homeless Veterans - Asian',
 'Overall Homeless Veterans - American Indian or Alaska Native',
 'Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless Veterans - Multiple Races',
 'Sheltered Total Homeless - Multiple Races',
 'Unsheltered Homeless Individuals',
 'Unsheltered Homeless Individuals - Under 18',
 'Unsheltered Homeless Individuals - Age 18 to 24',
 'Unsheltered Homeless Individuals - Over 24',
 'Unsheltered Homeless Individuals - Female',
 'Unsheltered Homeless Individuals - Male',
 'Unsheltered Homeless Individuals - Transgender',
 'Unsheltered Homeless Individuals - Gender Non-Conforming',
 'Unsheltered Homeless Individuals - Non-Hispanic/Non-Latino',
 'Unsheltered Homeless Individuals - Hispanic/Latino',
 'Unsheltered Homeless Individuals - White',
 'Unsheltered Homeless Individuals - Black or African American',
 'Unsheltered Homeless Individuals - Asian',
 'Unsheltered Homeless Individuals - American Indian or Alaska Native',
 'Unsheltered Homeless Individuals - Native Hawaiian or Other Pacific Islander',
 'Unsheltered Homeless Individuals - Multiple Races',
 'Overall Homeless Individuals',
 'Overall Homeless Individuals - Under 18',
 'Overall Homeless Individuals - Age 18 to 24',
 'Overall Homeless Individuals - Over 24',
 'Overall Homeless Individuals - Female',
 'Overall Homeless Individuals - Male',
 'Overall Homeless Individuals - Transgender',
 'Overall Homeless Individuals - Gender Non-Conforming',
 'Overall Homeless Individuals - Non-Hispanic/Non-Latino',
 'Overall Homeless Individuals - Hispanic/Latino',
 'Overall Homeless Individuals - White',
 'Overall Homeless Individuals - Black or African American',
 'Overall Homeless Individuals - Asian',
 'Overall Homeless Individuals - American Indian or Alaska Native',
 'Overall Homeless Individuals - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless Individuals - Multiple Races',
 'Sheltered Total Homeless Individuals',
 'Sheltered Total Homeless Individuals - Under 18',
 'Sheltered Total Homeless Individuals - Age 18 to 24',
 'Sheltered Total Homeless Individuals - Over 24',
 'Sheltered Total Homeless Individuals - Female',
 'Sheltered Total Homeless Individuals - Male',
 'Sheltered Total Homeless Individuals - Transgender',
 'Sheltered Total Homeless Individuals - Gender Non-Conforming',
 'Sheltered Total Homeless Individuals - Non-Hispanic/Non-Latino',
 'Sheltered Total Homeless Individuals - Hispanic/Latino',
 'Sheltered Total Homeless Individuals - White',
 'Sheltered Total Homeless Individuals - Black or African American',
 'Sheltered Total Homeless Individuals - Asian',
 'Sheltered Total Homeless Individuals - American Indian or Alaska Native',
 'Sheltered Total Homeless Individuals - Native Hawaiian or Other Pacific Islander',
 'Sheltered Total Homeless Individuals - Multiple Races']

In [8]:
# Make new df with columns of interest
df = df_0[['Year',
 'CoC Number',
 'Overall Homeless',
 'Unsheltered Homeless',
 'Overall Homeless Veterans',
 'Sheltered Total Homeless',
 'Overall Homeless - Under 18',
 'Overall Homeless - Age 18 to 24',
 'Overall Homeless - Over 24',
 'Overall Homeless - Female',
 'Overall Homeless - Male',
 'Overall Homeless - Transgender',
 'Overall Homeless - Gender Non-Conforming',
 'Overall Homeless - Non-Hispanic/Non-Latino',
 'Overall Homeless - Hispanic/Latino',
 'Overall Homeless - White',
 'Overall Homeless - Black or African American',
 'Overall Homeless - Asian',
 'Overall Homeless - American Indian or Alaska Native',
 'Overall Homeless - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless - Multiple Races']]
df.head()

,Year,CoC Number,Overall Homeless,Unsheltered Homeless,Overall Homeless Veterans,Sheltered Total Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,...,Overall Homeless - Transgender,Overall Homeless - Gender Non-Conforming,Overall Homeless - Non-Hispanic/Non-Latino,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,2020,AK-500,1058,55,42.0,1003,150.0,129.0,779.0,419.0,...,2.0,1.0,996.0,62.0,297.0,108.0,9.0,477.0,37.0,130.0
1,2020,AK-501,891,169,52.0,722,176.0,68.0,647.0,409.0,...,1.0,3.0,827.0,64.0,337.0,29.0,13.0,413.0,3.0,96.0
2,2020,AL-500,848,247,120.0,601,92.0,54.0,702.0,296.0,...,1.0,0.0,826.0,22.0,309.0,508.0,2.0,8.0,2.0,19.0
3,2020,AL-501,631,364,66.0,267,107.0,24.0,500.0,244.0,...,2.0,0.0,623.0,8.0,225.0,384.0,0.0,6.0,1.0,15.0
4,2020,AL-502,215,41,13.0,174,61.0,11.0,143.0,91.0,...,1.0,0.0,154.0,50.0,150.0,50.0,0.0,3.0,1.0,0.0

**EDA **
1. What dates is our data from?
2. Separate COC number & create new state columns
3. 
3. Identify Overall columns of interest & put into a new df 
    - year
    - state
    - coc #
    - 'Unsheltered Homeless'
    -'Sheltered Total Homeless',
    - Overall homeless 
'Overall Homeless - Under 18',
 'Overall Homeless - Age 18 to 24',
 'Overall Homeless - Over 24',
 'Overall Homeless - Female',
 'Overall Homeless - Male',
 'Overall Homeless - Transgender',
 'Overall Homeless - Gender Non-Conforming',
 'Overall Homeless - Non-Hispanic/Non-Latino',
 'Overall Homeless - Hispanic/Latino',
 'Overall Homeless - White',
 'Overall Homeless - Black or African American',
 'Overall Homeless - Asian',
 'Overall Homeless - American Indian or Alaska Native',
 'Overall Homeless - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless - Multiple Races'

In [23]:
# Separate state only from 'CoC Number' & place into a new columns using str.split

df[['State', 'CoC Code']]= df['CoC Number'].str.split('-', expand=True)
df.head()

,Year,CoC Number,Overall Homeless,Unsheltered Homeless,Overall Homeless Veterans,Sheltered Total Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,...,Overall Homeless - Non-Hispanic/Non-Latino,Overall Homeless - Hispanic/Latino,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races,State,CoC Code
0,2020,AK-500,1058,55,42.0,1003,150.0,129.0,779.0,419.0,...,996.0,62.0,297.0,108.0,9.0,477.0,37.0,130.0,AK,500
1,2020,AK-501,891,169,52.0,722,176.0,68.0,647.0,409.0,...,827.0,64.0,337.0,29.0,13.0,413.0,3.0,96.0,AK,501
2,2020,AL-500,848,247,120.0,601,92.0,54.0,702.0,296.0,...,826.0,22.0,309.0,508.0,2.0,8.0,2.0,19.0,AL,500
3,2020,AL-501,631,364,66.0,267,107.0,24.0,500.0,244.0,...,623.0,8.0,225.0,384.0,0.0,6.0,1.0,15.0,AL,501
4,2020,AL-502,215,41,13.0,174,61.0,11.0,143.0,91.0,...,154.0,50.0,150.0,50.0,0.0,3.0,1.0,0.0,AL,502

In [95]:
list(df.columns)

['Year',
 'CoC Number',
 'Overall Homeless',
 'Unsheltered Homeless',
 'Overall Homeless Veterans',
 'Sheltered Total Homeless',
 'Overall Homeless - Under 18',
 'Overall Homeless - Age 18 to 24',
 'Overall Homeless - Over 24',
 'Overall Homeless - Female',
 'Overall Homeless - Male',
 'Overall Homeless - Transgender',
 'Overall Homeless - Gender Non-Conforming',
 'Overall Homeless - Non-Hispanic/Non-Latino',
 'Overall Homeless - Hispanic/Latino',
 'Overall Homeless - White',
 'Overall Homeless - Black or African American',
 'Overall Homeless - Asian',
 'Overall Homeless - American Indian or Alaska Native',
 'Overall Homeless - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless - Multiple Races',
 'State',
 'CoC Code']

In [109]:

#print(type(df.State))

#1 Group overall homeless by state
h_states = df.groupby(['Year','State'])['Overall Homeless']
h_states

#df.groupby('State').unique()
 #2 make a line plot using seaborn

In [112]:
#Make timeline line chart overall homeless by state (Y) vs Year (x), values - overall homeless

h_states = df.groupby(['Year','State', 'Sheltered Total Homeless', 'Unsheltered Homeless'])['Overall Homeless'].sum()
state_df = h_states.reset_index()
state_df

#note rename ''Sheltered Total Homeless' to 'Sheltered Homeless for consistency

,Year,State,Sheltered Total Homeless,Unsheltered Homeless,Overall Homeless
0,2007,AK,545,123,668
1,2007,AK,842,132,974
2,2007,AL,104,15,119
3,2007,AL,131,134,265
4,2007,AL,331,125,456
...,...,...,...,...,...
5426,2020,WV,114,15,129
5427,2020,WV,148,46,194
5428,2020,WV,281,13,294
5429,2020,WV,521,203,724
5430,2020,WY,489,123,612

In [113]:
h_states_pivot = state_df.pivot(index="Year", columns="State", values="Overall Homeless")
h_states_pivot.head()

ValueError: Index contains duplicate entries, cannot reshape

In [94]:
#sns.lineplot(data=flights, x="year", y="passengers")
#sns.lineplot( x='Year', y='State', data=h_states_pivot)

ValueError: Could not interpret value `State` for parameter `y`

Other things I want to graph

Who are these people?
- Bar/line chart from 2016- 2020 of sheltered vs unsheltered population
- breakdwon of overall homeless by ethnicity & race
- breakdown of overall homeless by age category

Is it getting better or worse & for who?
- table showing % changes in overall homeless year to year from last 3 years
- table showing changes in age groups & ethinicty by all homeless, sheltered, non sheltered
- which states are expiriencing more homeless ?


Demographic Characteristics of People Experiencing Homelessness
- by sheltered vs non 
-age & gender

HELPFUL CODE
1. pit = pit.rename(columns={'year': 'Year'}) #remaming a clumn

In [101]:
#overall homeless by gender

by_gender = ['CoC Number', 'Year', 'Overall Homeless',
 'Overall Homeless - Female',
 'Overall Homeless - Male',
 'Overall Homeless - Transgender',
 'Overall Homeless - Gender Non-Conforming']

overall_gender = df[by_gender]

gender_annual = overall_gender.groupby('Year').sum()
gender_annual

,Overall Homeless,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,Overall Homeless - Gender Non-Conforming
Year,,,,,
2007,644020,0.0,0.0,0.0,0.0
2008,636261,0.0,0.0,0.0,0.0
2009,625688,0.0,0.0,0.0,0.0
2010,633464,0.0,0.0,0.0,0.0
2011,620218,0.0,0.0,0.0,0.0
2012,618022,0.0,0.0,0.0,0.0
2013,586612,0.0,0.0,0.0,0.0
2014,573381,0.0,0.0,0.0,0.0
2015,562969,223627.0,338053.0,1289.0,0.0
2016,549798,217228.0,330800.0,1770.0,0.0
2017,549325,214295.0,332068.0,2085.0,877.0
2018,551032,215543.0,331803.0,2513.0,1173.0
2019,565736,219120.0,342008.0,3252.0,1356.0
2020,578438,222682.0,351090.0,3154.0,1456.0

In [100]:
#overall by age
by_age = ['CoC Number', 'Year', 'Overall Homeless',
 'Overall Homeless - Under 18',
 'Overall Homeless - Age 18 to 24',
 'Overall Homeless - Over 24']

overall_age = df[by_age]

age_annual = overall_age.groupby('Year').sum()
age_annual

,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24
Year,,,,
2007,644020,0.0,0.0,0.0
2008,636261,0.0,0.0,0.0
2009,625688,0.0,0.0,0.0
2010,633464,0.0,0.0,0.0
2011,620218,0.0,0.0,0.0
2012,618022,0.0,0.0,0.0
2013,586612,137355.0,59447.0,389810.0
2014,573381,135218.0,57836.0,380327.0
2015,562969,127370.0,52852.0,382747.0
2016,549798,120807.0,49996.0,378995.0
2017,549325,114158.0,50855.0,384312.0
2018,551032,111198.0,48180.0,391654.0
2019,565736,106621.0,45540.0,413575.0
2020,578438,105942.0,45000.0,427496.0

In [102]:
#overall by race
by_race = ['CoC Number', 'Year', 'Overall Homeless',
 'Overall Homeless - White',
 'Overall Homeless - Black or African American',
 'Overall Homeless - Asian',
 'Overall Homeless - American Indian or Alaska Native',
 'Overall Homeless - Native Hawaiian or Other Pacific Islander',
 'Overall Homeless - Multiple Races']

overall_race = df[by_race]

race_annual = overall_race.groupby('Year').sum()
race_annual

,Overall Homeless,Overall Homeless - White,Overall Homeless - Black or African American,Overall Homeless - Asian,Overall Homeless - American Indian or Alaska Native,Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
Year,,,,,,,
2007,644020,0.0,0.0,0.0,0.0,0.0,0.0
2008,636261,0.0,0.0,0.0,0.0,0.0,0.0
2009,625688,0.0,0.0,0.0,0.0,0.0,0.0
2010,633464,0.0,0.0,0.0,0.0,0.0,0.0
2011,620218,0.0,0.0,0.0,0.0,0.0,0.0
2012,618022,0.0,0.0,0.0,0.0,0.0,0.0
2013,586612,0.0,0.0,0.0,0.0,0.0,0.0
2014,573381,0.0,0.0,0.0,0.0,0.0,0.0
2015,562969,272841.0,227237.0,6070.0,15120.0,8823.0,32878.0
2016,549798,265544.0,215177.0,5600.0,15224.0,8734.0,39519.0
2017,549325,258922.0,222964.0,6691.0,16698.0,8511.0,35539.0
2018,551032,269720.0,218989.0,6635.0,15373.0,8034.0,32281.0
2019,565736,269758.0,224770.0,7222.0,17950.0,9301.0,36735.0
2020,578438,279609.0,227967.0,7627.0,18912.0,8785.0,35527.0